body{
    margin: 0px;
}
header{
    
    padding: 0px;
    width: 100%;
    margin:0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    
    background-color: orchid;
}
header:before{
    content: '';
    display: block;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;

}

header > *{
    z-index: 1;
}

.logo>img{
    width: 100px;
    height: 75px;
}

.opacity_menu{
    width: 30px;
    
    float: left;
}

.menu{
    text-align: center;
}

.menu  li{
    animation: none;
    list-style: none;
    padding: 0;
    position: relative;
}

.menu a{
    padding: 10px;
    transition: 0.4s;
    display: block;
    
}

.menu a:hover{
    background-color: blueviolet;
    background: rgba(0, 0, 0, .2);
}

a{
    text-decoration: none;
    color:white;
}


@media screen and (min-width: 768px){

.menu > ul{
    margin: 1px;
    display: flex;
}

.menu > ul >li:hover ul{
    display: block;
   
    background-color: indianred;
    position: absolute;
}
.menu>ul>li>ul{
    padding: 0;
    display: flex;
    /* justify-content: start;
    align-content: flex-start; */
    /* align-items: flex-start; */
    flex-direction: column;
    position: absolute;
    opacity: 100%;
    display: none;
}
.menu>ul>li>ul>li{
    
    padding: 2px;
}

}